input{
  margin-bottom: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; 
    padding-top: 50px;
  }
  
  .login-form {
    max-width: 450px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }