header {
    background-color: #bd3030; /* Color azul Bootstrap */
    padding: 1rem 0; /* Espaciado vertical */
  }
  
  .logo {
    flex: 1; /* Empuja la barra de búsqueda al centro */
    text-align: left; /* Alinea el logo a la izquierda */
  }
  
  .search-bar {
    flex: 2; /* Da más espacio al centro */
    text-align: center; /* Centra la barra de búsqueda */
  }
  
  .navigation {
    flex: 1; /* Empuja el contenido al lado derecho */
    text-align: right; /* Alinea la navegación a la derecha */
  }
  
  .nav .nav-link {
    margin-left: 15px; /* Espaciado entre los enlaces */
    flex-wrap: nowrap; /* Evita que los enlaces se rompan */;
  }
  